{% extends "base.html" %}
{% block title %}Detalles del Brawler{% endblock %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Datos del Jugador</th>
      </tr>
    </thead>
    <tbody>
      {% for jugador in players %}
          <tr>
            <td>JUGADOR</td>
            <td>{{ jugador.name }}</td>
          </tr>
          <tr>
            <td>COPAS</td>
            <td>{{ jugador.trophies }}</td>
          </tr>
          <tr>
            <td>MAXIMO DE COPAS</td>
            <td>{{ jugador.highestTrophies }}</td>
          </tr>
          <tr>
            <td>CLUB</td>
            <td>{{ jugador.club.name }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <br>
  <br>
  <br>
  <a href="/templates/formulario.html"><button>Volver</button></a>
{% endblock %}