{% extends "base.html" %}
{% block title %}Lista de Brawlers{% endblock %}

{% block content %}
<body>
    <h1>Lista TOP RANKING mejores jugadores GLOBAL / ESPAÑA</h1>
    <table>
        <tr>
            <th>GLOBAL</th>
            <th>ESPAÑA</th>
        </tr>
        <tr>
            <td>
                <ol>
                    {% for top in ranktop100 %}
                        <li>{{ top.name }}</li>
                    {% endfor %}
                </ol>
            </td>
            <td>
                <ol>
                    {% for top1 in ranktop1001 %}
                        <li>{{ top1.name }}</li>
                    {% endfor %}
                </ol>
            </td>
        </tr>
    </table>
</body>
{% endblock %}